.button
{
-fx-background-color :  #02030A;
-fx-background-radius : 20 20 20 20;
}

.button:hover{
-fx-background-color :  #33ff00;
-fx-background-radius : 20 20 20 20;
}

.button:pressed
{
-fx-background-color : #1620A1;
-fx-background-radius : 20 20 20 20;
}

.scroll-pane {
    -fx-background-color: white;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #10165F;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: black;
}